---
layout: default
title: Rod Simpson - Blog Categories
keywords: Rod Simpson, Categories
description: Blog Category
---

<section class="container clearfix">
   <div class="content clearfix">
      <div class="clear padding10 clearfix"></div>
      <h1 class="bottom_line">Posts in blog category "{{ page.category }}"</h1>
      {% assign posts = site.categories[page.category] %}
      {% assign no_category = true %}
      {% include post-listing.html %}
      <div class="clear"></div>
   </div>

   <div class="sidebar">
      {% include sidebar.html %}
   </div>
</section>