---
layout: default
title: Rod Simpson - Tags
keywords: Rod Simpson, Tags
description: Blog Tags
---

<section class="container clearfix">
   <div class="content clearfix">
      <div class="clear padding10 clearfix"></div>
      <h1 class="bottom_line">Posts tagged with "{{ page.tag }}"</h1>
      {% assign posts = site.tags[page.tag] %}
      {% include post-listing.html %}
      <div class="clear"></div>
   </div>

   <div class="sidebar">
      {% include sidebar.html %}
   </div>

   <div class="clear padding40"></div>
</section>